// main: ../style.less

.commands {
  font-family: 'Anonymous Pro', sans-serif;
  justify-content: center;
}

.commands__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 9.1px;

  &::after {
    border: 1px solid black;
    width: 100px;
    height: 1px;
  }
}

.command__name {
  font-size: 26px;

  &--emote {
    font-size: 25px;
  }
}

.command__desc {
  font-size: 26px;
}

.command__option {
  font-size: 25px;
}